Babel
Fabric
Jinja2
MarkupSafe
PyYAML
Pygments
Sphinx
alabaster
argh
argparse
backports-abc
backports.ssl-match-hostname
certifi
docutils
ecdsa
funcsigs
livereload
mock
paramiko
pathtools
pbr
pycrypto
pytz
singledispatch
six
snowballstemmer
sphinx-autobuild
sphinx-rtd-theme
tornado
watchdog
wsgiref
